/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(#3498DB, #dedede);
  background-attachment: fixed;
  height: 100vh;
  min-height: 800px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

/*Main Container and Forms*/
#mainContainer{
  width: 40% !important;
  height: 490px;
  background: #fff;
  border-radius: 7px;
  padding: 30px;
  transition: height 0.5s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
/*--------------*/

/*Text Formating*/

/*----------------*/


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
  #mainContainer {
    width: 80% !important;
    height: 700px;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  #mainContainer {
    width: 60% !important;
    height: 660px;
  }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  #mainContainer {
    width: 70% !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  #mainContainer {
    width: 60% !important;
  }
}
